// for creating utility classes
$sizes: (
  100: rem(4),
  200: rem(8),
  300: rem(12),
  400: rem(16),
  500: rem(20),
  600: rem(24),
  700: rem(28),
  800: rem(32),
  900: rem(36),
  1000: rem(48),
  1100: rem(60),
  1200: rem(64),
  1300: rem(80),
  1400: rem(96),
  1500: rem(128),
  1600: rem(160),
);

// for use in the code base
$size-100: rem(4);
$size-200: rem(8);
$size-300: rem(12);
$size-400: rem(16);
$size-500: rem(20);
$size-600: rem(24);
$size-700: rem(28);
$size-800: rem(32);
$size-900: rem(36);
$size-1000: rem(48);
$size-1100: rem(60);
$size-1200: rem(64);
$size-1300: rem(80);
$size-1400: rem(96);
$size-1500: rem(128);
$size-1600: rem(160);
