.row {
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat($grid-columns-desktop, 1fr);
  column-gap: $grid-column-gap-desktop;
  row-gap: $grid-row-gap-desktop;

  // tablet
  @include max-screen(medium) {
    grid-template-columns: repeat($grid-columns-tablet, 1fr);
    column-gap: $grid-column-gap-tablet;
    row-gap: $grid-row-gap-tablet;
  }

  // mobile
  @include max-screen(small) {
    grid-template-columns: repeat($grid-columns-mobile, 1fr);
    column-gap: $grid-column-gap-mobile;
    row-gap: $grid-row-gap-mobile;
  }
}

// create all grid column classes for dekstop
@for $i from 1 through $grid-columns-desktop {
  .col-#{$i} {
    grid-column: span #{$i};
  }

  // create all grid column offset classes
  @for $j from 1 through $grid-columns-desktop - $i {
    @if $i < $grid-columns-desktop {
      .col-#{$i}-offset-#{$j} {
        display: flex;
        grid-column-start: #{$j + 1};
        grid-column-end: #{$i + $j + 1};
      }
    }
  }
}

// create all grid column classes for tablet
@for $i from 1 through $grid-columns-tablet {
  @include max-screen(medium) {
    .col-md-#{$i} {
      grid-column: span #{$i};
    }

    // create all grid column offset classes for tablet
    @for $j from 1 through $grid-columns-tablet - $i {
      @if $i < $grid-columns-tablet {
        .col-md-#{$i}-offset-#{$j} {
          display: flex;
          grid-column-start: #{$j + 1};
          grid-column-end: #{$i + $j + 1};
        }
      }
    }
  }
}

// create all grid column classes for mobile
@for $i from 1 through $grid-columns-mobile {
  @include max-screen(small) {
    .col-sm-#{$i} {
      grid-column: span #{$i};
    }

    // create all grid column offset classes for mobile
    @for $j from 1 through $grid-columns-mobile - $i {
      @if $i < $grid-columns-mobile {
        .col-sm-#{$i}-offset-#{$j} {
          display: flex;
          grid-column-start: #{$j + 1};
          grid-column-end: #{$i + $j + 1};
        }
      }
    }
  }
}
